@keyframes headerAnimation {
    0% {transform: translateY(-3px) translateX(1px);}
    50% {transform: translateY(3px) translateX(-1px);}
    100% {transform: translateY(-3px) translateX(1px);}
}
* {
    font-family: monospace;
    font-size: 18px;
}
body {
    background: #101c1c;
}
button {
    background-color: #101c1c;
    border-color: #3C4E4E;
    border-radius: 0;
    border-width: 0.6mm;
    color: white;
    transition-duration: 0.5s;
}
button:hover {
    border-color: #9ab1b1;
    transform: translateY(-2px);
}
.board-menu {
    text-align: center;
}
.board-content {
    border: 2px solid #9ab1b1;
    border-radius: 8px;
    display: none;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 1rem;
}
.card-display-area {
    align-self: flex-start;
    flex: 1;
}
.card-images {
    height: auto;
    width: 20%;
}
#document-header {
    color: white;
    font-size: 26px;
    text-align: center;
    animation: headerAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#user-typing-input {
    background-color: #101c1c;
    border-color: #9ab1b1;
    color: white;
    width: 250px;
}
.active {
    border-color: #9ab1b1;
    color: white;
}
#error-message {
    color: red;
}
#time-remaining {
    color: white;
}
