* {
    font-size: large;
    font-family: georgia;
}
.card-images {
    position: relative;
    top: 0;
    left: 0;
}
#error-message {
    color: red;
}
.deck-buttons {
    text-align: center;
}
.static-elements {
    text-align: center;
}
body {
    background-color: beige;
}