* {
    font-family: monospace;
    font-size: large;
}
body {
    background: #101c1c;
}
button {
    background-color: #101c1c;
    color: white;
    border-color: #3C4E4E;
    border-radius: 0;
    border-width: 0.6mm;
    transition-duration: 0.5s;
}
button:hover {
    border-color: #9ab1b1;
    transform: translateY(-1px);
}
.board-menu {
    text-align: center;
}
.board-content {
    border: 2px solid #9ab1b1;
    border-radius: 8px;
    display: none;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 1rem;
}
.card-display-area {
    align-self: flex-start;
    flex: 1;
}
.card-images {
    height: auto;
    width: 20%;
}
#user-typing-input {
    background-color: #101c1c;
    border-color: #9ab1b1;
    color: white;
    width: 250px;
}
.active {
    border-color: #9ab1b1;
    color: white;
}
#error-message {
    color: red;
}
#time-remaining {
    color: white;
}